:root {
    --bordercl: dodgerblue;
}

::selection {
    background: black;
}

header .main {
    font-weight: bold;
    font-size: 1.8rem;
}

header .main a {
    border: none;
}

footer {
    border-top-style: dashed;
}

blockquote {
    border-color: var(--bordercl)
}

hr {
    border-top-color: var(--bordercl);
}